.neader--main {
  background-color: #efeae5;
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 581px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.header__logo {
  width: 50%;
  background-repeat: no-repeat;
}

.header__logo-inner {
  background-image: url"(../../img/header_logo.png)";
  background-repeat: no-repeat;
  width: 130px;
  height: 82px;
}

.header__list {
  width: 50%;
  display: flex;
}

.header__list-item {
  height: 40px;
  width: 25%;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
