.articles__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: center;


}

.articles__title-text {
    width:50%;
}

.articles__title-filter {
    width:50%;
}